/* Home.css */

.home {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.home-content {
  
  text-align: center;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 10px;
} 

.home p {
  font-size: 18px;
  color: #666;
} 

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}


.search-form select 
{ padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}









.bangalore-button {
  background-color: #fff;

}



.city-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;

}



.city-list button {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.city-list img {
  width: 200px;
  height: 200px; 
  margin-right: 10px; 
  display: grid;
}

.city-list button:hover {
  background-color: black; /* Change this to your desired hover color */
}

